apiVersion: v1
kind: Pod
metadata:
  name: rabbitmq
  labels:
    app: rabbitmq
spec:
  containers:
    - name: rabbitmq
      image: {{ namespace }}/rabbitmq:{{ tag }}
      env:
        - name: RABBITMQ_CLUSTER_COOKIE
          value: password
      imagePullPolicy: Always
      ports:
        - containerPort: 5672
          hostPort: 5672
