NODENAME=rabbit@{{ network_topology["private"]["address"] }}
USE_LONGNAME=true
LOG_BASE=/var/log/ccp/rabbitmq
{% if security.tls.enabled %}
ERL_SSL_PATH=`erl -eval 'io:format("~p", [code:lib_dir(ssl, ebin)]),halt().' -noshell`
SERVER_ADDITIONAL_ERL_ARGS="-pa $ERL_SSL_PATH -proto_dist inet_tls -ssl_dist_opt server_certfile /etc/ccp/tls/rabbitmq.pem -ssl_dist_opt server_secure_renegotiate true client_secure_renegotiate true server_cacertfile /etc/ccp/tls/ca.pem"
CTL_ERL_ARGS="$SERVER_ADDITIONAL_ERL_ARGS"
{% endif %}
