[
   {rabbit, [
      {dummy_param_without_comma, true}
     {% if rabbitmq.tls.enabled %}
     ,{tcp_listeners, [] }
     ,{ssl_listeners, [
        {"0.0.0.0", {{ rabbitmq.port.cont }} }
      ]}
     {% else %}
     ,{tcp_listeners, [
        {"0.0.0.0", {{ rabbitmq.port.cont }} }
      ]}
     {% endif %}
     ,{default_user, <<"{{ rabbitmq.user }}">>}
     ,{default_pass, <<"{{ rabbitmq.password }}">>}
     ,{loopback_users, []}
     ,{cluster_partition_handling, ignore}
     ,{queue_master_locator, <<"random">>}
     {% if rabbitmq.tls.enabled %}
     ,{ssl_options, [{cacertfile,"/opt/ccp/etc/tls/ca.pem"},
                    {certfile,"/opt/ccp/etc/tls/rabbitmq_certificate.pem"},
                    {keyfile,"/opt/ccp/etc/tls/rabbitmq_server_key.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,false}]}
     {% endif %}
     ,{vm_memory_high_watermark, {absolute, {{ (MEMORY_LIMIT|int * rabbitmq.high_watermark_ratio)|int }}}}
   ]}
  ,{autocluster, [
      {dummy_param_without_comma, true}
     ,{backend, etcd}
     ,{autocluster_failure, stop}
     ,{cleanup_interval, 30}
     ,{cluster_cleanup, true}
     ,{cleanup_warn_only, false}
     ,{etcd_ttl, 15}
    {% if etcd.tls.enabled %}
     ,{etcd_scheme, https}
    {% else %}
     ,{etcd_scheme, http}
    {% endif %}
     ,{etcd_host, "{{ address('etcd') }}"}
     ,{etcd_port, {{ etcd.client_port.cont }}}
   ]}
].
% EOF
