#!/usr/bin/env python

import sys
import socket

import requests
import etcd

IP = socket.gethostbyname(socket.gethostname())
URL = 'http://127.0.0.1:15672/api/nodes/rabbit@%s' % IP
etcd_client = etcd.Client(host='etcd', port=2379, allow_reconnect=True,
                          read_timeout=2)

# Fetching cluster status from API
r = requests.get(URL, auth=('rabbitmq', 'password'))
data = r.json()

api_result = set([ node['peer_addr'] for node in data['cluster_links'] ])
# Adding ourselfs to this set
api_result.add(IP)

# Fetching cluster status from etcd
rbmq_nodes_etcd = etcd_client.get('/rabbitmq/default')
etcd_result = set([ node.key.rsplit('@')[-1] for node in rbmq_nodes_etcd.children if node.key.rsplit('@')[-1] != 'IP' ])

print api_result
print etcd_result

if api_result == etcd_result:
   sys.exit(0)
else:
   sys.exit(1)

