{% macro rabbit(cfg_type) -%}
{% if cfg_type == 'rpc_config' -%}
  [DEFAULT]
{%- elif cfg_type == 'notifications_config' -%}
  [oslo_messaging_notifications]
{%- endif %}
transport_url=rabbit://{{ rabbitmq.user }}:{{ rabbitmq.password }}@{{ address('rabbitmq') }}
{%- endmacro %}
