{% macro rabbit_transport() -%}
transport_url=rabbit://{{ rabbitmq.user }}:{{ rabbitmq.password }}@{{ address('rabbitmq', rabbitmq.port) }}
{%- endmacro %}

{% if rabbitmq.tls.enabled %}
[oslo_messaging_rabbit]
kombu_ssl_version="TLSv1_2"
rabbit_use_ssl = true
kombu_ssl_ca_certs = /opt/ccp/etc/tls/ca.pem
{% endif %}

{%- endmacro %}
