{% macro rabbit(driver) -%}
{% if driver == 'rpc' %}[DEFAULT]{% else %}[oslo_messaging_notifications]{% endif %}
transport_url=rabbit://{{ rabbitmq.user }}:{{ rabbitmq.password }}@{{ address('rabbitmq') }}
{%- endmacro %}
